@font-face {
  font-family: 'code';
  src: url('chinese.msyh.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('chinese.msyh.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  margin: 0px auto;
  max-width: 1400px;
  background-color: #2d3c47;
  min-height: 400px;
}

/* ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
} */

/* ::-webkit-scrollbar-track-piece  {
  background-color: #2d3c47;
} */

::-webkit-scrollbar-thumb {
  /* height: 30px; */
  /* background: #586671; */
  /* background-color: #1b242b; */
}

::-webkit-scrollbar-thumb:hover {
  /* background: #45525c; */
  /* background: #27343e; */
}
