body {
  margin: 0px;
}

/* width */
/* ::-webkit-scrollbar {
  width: 111px;
} */

/* Track */
::-webkit-scrollbar-track {
  background: #2d3c47; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b242b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27343e;
}